@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --s-magenta: hsl(300, 69%, 71%);
    --local: 'Open Sans', sans-serif;
    --heading:'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.landing-page {
    background: url("./images/bg-desktop.svg") var(--violet);
    position: relative;
    min-height: 100vh;
    width:100%;
}

header {
    padding:2rem 0 0 2.5rem;
}

header img{
    width:14rem;
}

.content{
    display: flex;
    margin-top:2.9rem;
    align-items: center;
    justify-content: space-around;
}

.left-mockup{
    display: flex;
    margin-left:4rem;
    width:50%;
}

.left-mockup img{
    width:90%;
}

.right-text{
    font-family: var(--local);
    font-weight:400;
    padding:3rem;
    color:#fff;
    margin-left:2rem;
    width:70%;
    display: flex;
    flex-direction: column;
}

.right-text .heading{
    font-family: var(--heading);
    font-weight:700;
    font-size: 2.5rem;
    max-width:20ch;
}

.right-text .para1{
    margin-top:1.3rem;
    line-height: 1.5em;
    font-size:17px;
    width:50ch;
}

.right-text button{
    margin-top:2rem;
    padding:20px 40px;
    width:250px;
    border:none;
    font-size:17px;
    border-radius:40px;
    outline:none;
    font-family: var(--heading);
    color:var(--violet);
    /* font-weight:600;  */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    letter-spacing:2px;
    transition: all 0.25s ease-in;
    text-align: center;
    cursor:pointer;
}

.right-text button:hover{
    background: var(--s-magenta);
    transition: all 0.25s ease;
    box-shadow: hsla(300, 69%, 71%,0.5) 0px 30px 16px;
    color:#fff;
}


footer{
    position:absolute;
    padding-bottom:2rem;
    /* background:red; */
    bottom: 0;
    width:100%;
    min-height:4rem;
    padding-right:2rem;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    color:#fff;
}

.social-icons{
    display: flex;
    gap:1.5rem;
}

.social-icons i{
    border: 2px solid white;
    padding: 15px 0;
    border-radius: 50%;
    width:50px;
    /* height:50px; */
    text-align: center;
    vertical-align: center;
    transition: all 0.25s ease;
}

.social-icons i:hover{
    color:var(--s-magenta);
    border: 2px solid var(--s-magenta);
    cursor: pointer;
    transition: all 0.25s ease;
}


@media screen and (min-width:768px) and (max-width:991px){
    .right-text{
        width:100%;
    }
    .right-text .heading{
        font-size: 2rem;        
    }
}

@media screen and (max-width:768px){
    .landing-page{
        flex-direction: column;
        width:100%;
        min-height:100vh;
        min-width:100vw;
        background:url("./images/bg-mobile.svg") var(--violet);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content{
        flex-direction: column;
    }
    
    header img{
        width:10rem;
    }

    .left-mockup{
        width:100%;
        margin:0;
        /* background:red; */
        justify-content: center;
    }

    .left-mockup img{
        width:75%;
    }

    .right-text{
        width:100%;
        padding:0;
        margin:0;
        margin-top:2rem;
        text-align: center;
        /* justify-content: center; */
        align-items: center;
        margin-bottom:4rem;
        padding: 0 2rem;
    }

    .right-text .heading{
        font-size:1.5rem;
        width:auto;
    }

    .right-text .para1{
        width:auto;
        font-size:0.9rem;
    }

    .right-text button{
        width:200px;
        padding:10px 20px;
    }
    footer{
        position:relative;
        justify-content:center;
        padding:0;
        padding-bottom:2rem;
    }
}
